<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148494371112-ovukonh7daqk2j2okj3t5r6apdltjcvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148494371112-ovukonh7daqk2j2okj3t5r6apdltjcvk</string>
	<key>API_KEY</key>
	<string>AIzaSyCe5uW6CIzFOuB3DSlcYUSuRC8krPP57gg</string>
	<key>GCM_SENDER_ID</key>
	<string>148494371112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.f2c</string>
	<key>PROJECT_ID</key>
	<string>farmer2consumer-e881e</string>
	<key>STORAGE_BUCKET</key>
	<string>farmer2consumer-e881e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148494371112:ios:9348e73c2732693500281d</string>
</dict>
</plist>